* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', monospace;
}

.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    padding-left: 50px;
  }

#navbar__logo {
    background-color: #77fdff;
    background-image: linear-gradient(to top, #0842ff 0%, #99ffec 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

#navbar__logo img {
    height: 50px; /* Adjust the height as needed */
    width: auto;  /* Maintain aspect ratio */
}

.fa-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}
.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius:4px;
    background: #f77062;
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar__menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index:99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: cneter;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}



/* Hero section CSS */

.main {
    background-color: #141414;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    background-color: #141414;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

@keyframes fadeIn {
    to {
        opacity: 1; /* Final state: fully visible */
    }
}

/* This controls the styling of the main catchphrase on the page "Hi"*/
.main__content h1 {
    font-size: 4rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    background-size: 100%;
    transition: all .25s;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    opacity: 0; /* Initially invisible */
    animation: fadeIn 2s forwards 0s; /* Apply the fade-in animation */
}

/* This controls the styling of the main catchphrase on the page "I'm Lance"*/
.main__content h2{
    font-size: 3rem;
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    transition: all 0.45s;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    opacity: 0; /* Initially invisible */
    animation: fadeIn 2.5s forwards 1.5s; /* Apply the fade-in animation */
}

.main__content p{
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    background-color: #ffffff;
    transition: all 0.65s;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    opacity: 0; /* Initially invisible */
    animation: fadeIn 3s forwards 3s; /* Apply the fade-in animation */
}

.main__btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.85s;
    outline: none;
    opacity: 0; /* Initially invisible */
    animation: fadeIn 3s forwards 3.5s; /* Apply the fade-in animation */
}

.main__btn a{
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.5s;
    border-radius: 4px;
}

.main__btn:hover {
    color: #fff;
    
}

.main__btn:hover:after {
    width: 100%;
}

/*  */
.center-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -80vh; /* Reduce height to 80% of viewport height */
    margin-top: -350px; /* Add margin to further move the button down */
}

.main__btn2 a {
    text-decoration: none;
    color: white;
}

.main__btn2 {
    background-color: #000; /* Customize button color */
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main__btn2:hover {
    background-color: #333; /* Darken button on hover */
}

.main__img--container {
    position: relative;
    width: 715px;
    height: 715px;
    overflow: hidden;
}

/* This is the main image you see on the home page */
#main__img {
    max-height: 80%;
    max-width: 80%;
    height: auto;
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Mobile Responsive */
@media screen and (max-width: 768px){
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 90vh;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }
}


/* This is dedicated to the about me styling */
.about-me {
    background-color: #141414;
    padding: 40px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust if you don't want it to cover full viewport height */
}

.about-me__content {
    max-width: 800px;
    margin: 0 auto;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.about-me h2 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #333;
}

.about-me p {
    font-size: 1.2em;
    line-height: 1.6;
    color: #666;
    margin: 0;
}
  
.about-me__content.visible {
    opacity: 1;
}

.arrow {
    position: absolute;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    bottom: 20px; /* Adjust this to position it vertically */
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 30px solid #f77062; 
    cursor: pointer;
}

.main__container {
    position: relative; /* Ensure the arrow is positioned relative to the container */
}


/* typing effect styling */

#typing-effect {
    font-size: 3rem; /* Set the desired font size */
    white-space: nowrap; /* Ensure the text doesn't wrap */
    overflow: hidden; /* Hide text that's not yet visible */
    padding: 0 5px;
    border-right: 2px solid #ffffff; /* Cursor effect */
    background-color: #ff8177;
    background-image: linear-gradient(to top, #b721ff 0%, #21d4fd 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    transition: opacity 1s ease-in-out;
    opacity: 1; /* Make sure the text is visible */
    animation: blinkCursor 0.75s step-end infinite, fadeIn 2.5s forwards; /* Apply both animations */
    /* Center it within its container or adjust positioning as needed */
    margin: 0 auto; /* Center horizontally */
    text-align: center; /* Center text horizontally */
    position: absolute;
    top: 130%; /* Adjust as needed */
    left: 50%; /* Adjust as needed */
    transform: translate(-50%, -50%); /* Center horizontally and vertically */
}

@keyframes blinkCursor {
    50% {
        border-color: transparent;
    }
}



/* enable for mouse parallax effect */
/* body{
    margin: 0;
    background-color: #1d1e22;
  }
  #parallax {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-3.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-2.png), url(https://raw.githubusercontent.com/oscicen/oscicen.github.io/master/img/depth-1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
  }
  h1 {
    position: absolute;
    top: 47%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: "Arial";
    text-transform: uppercase;
    opacity: .2;
    font-size: 70px;
  } */