<nav class="navbar">
    <div class="navbar__container">
        <div class="navbar__logo">
            <a href="#" class="logo" onclick="app.loadView('home'); return false;">
                <img src="assets/images/pfp2-modified.png" alt="Lancelot Shih" class="logo__img">
            </a>
        </div>
        <div class="navbar__menu">
            <ul class="nav-list">
                <li><a href="#" class="nav-link active" data-view="home" onclick="return false;">Home</a></li>
                <li><a href="#" class="nav-link" data-view="projects" onclick="return false;">Projects</a></li>
                <li><a href="#" class="nav-link" data-view="about" onclick="return false;">About</a></li>
            </ul>
        </div>
        <div class="navbar__toggle" id="navToggle">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</nav>